body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

center-div {
  list-style: none;
  text-align: left;
  margin-left: 12px;
}
nav > button {
  background-color: #28536b;
  /* background-color: #4da167; */
  color: whitesmoke;
  border: none;
  font-size: 18px;
  padding: 10px;
  border-left: 2px solid whitesmoke;
}

nav > button:hover {
  background-color: #6aa7c8;
}

nav > button.active {
  background-color: #6aa7c8;
}

nav > button.active:hover {
  background-color: #6aa7c8;
}

.footer > button {
  background-color: #28536b;
  color: whitesmoke;
  font-size: 18px;
  padding: 8px;
  margin-top: 8px;
  border: none;
  border-left: 2px solid whitesmoke;
}

.footer > button:hover {
  background-color: #6aa7c8;
}
table {
  margin: auto;
  border-spacing: 1px;
  border-collapse: collapse;
}

.App {
  padding: 20px;
}

tr.header-tr > td {
  background-color: #d9d9d9;
}
td {
  background-color: #f2f2f2;
  padding-bottom: 12px;
  padding-top: 4px;
  padding-right: 4px;
  padding-left: 4px;
}
