@import "../../style/variables.scss";

.jobly-table {
    font-size: 14px;

    td {
        font-weight: 300;

        a {
            font-weight: 400;
            color: #76abae;
        }
    }
    & > thead {
        border-bottom-width: 3px;
        font-size: 16px;
    }
    & td:last-of-type,
    th:last-of-type {
        text-align: end;
        & * {
            margin-left: auto;
        }
    }
}

.jobly-table__expanded-row {
    td {
        border: none !important;
    }
}
