@import "../../style/variables.scss";

.jobly-table__exception {
    color: $grey-normal;
}

.jobly-table__more-details {
    background: none;
    border: none;
    color: $blue-button;
    width: 100px;
    &:hover {
        color: $blue-button-hover;
    }
}
