@import "../../style/variables.scss";

.status-text {
    margin: 0;
    color: $white;
    padding: 0 6px;
    border-radius: 6px;
    width: fit-content;

    &--ok {
        background-color: $green-primary;
    }

    &--failed {
        background-color: $red-primary;
    }
}
