@import "../../style/variables.scss";

.details-link {
    text-decoration: none;
    &:hover {
        color: $blue-button-hover;
    }

    &--primary {
        color: $blue-button;
    }

    &--secondary {
        color: var(--bs-table-color-state);
    }
}
