.navbar-brand {
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: 6px;
    color: #76abae;
    text-align: center;
    width: 170px;
}

.navbar {
    border-bottom: solid 3px #eeeeee;
}
