.navbar-brand {
    font-weight: 700;
    font-size: 1.6rem;
    letter-spacing: 2px;
    color: #FF6C22;
    width: 200px;
    text-align: center;
}

.navbar {
    border-bottom: solid 3px whitesmoke;
}