.container {
    display: flex;
    flex-direction: row;
    border-bottom: solid 2px #eeeeee;
    align-items: center;
    padding: 20px 0;
    cursor: pointer;

    .icon {
        margin: 0 10px;
    }

    .label {
        color: #2c3038;
        margin-right: 8px;
    }

    .quantity {
        border-radius: 15px;
        border: solid 1px #eeeeee;
        padding: 2px 10px;
    }
}

.selected {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
