.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    button {
        background: whitesmoke;
        border-radius: 5px;
        border: none;
        padding: 5px 10px;
        border-bottom: solid 3px grey;

        &:hover {
            border-bottom-color: rgba(245, 95, 33, 1);
        }
    }

    .status-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;

        .dot {
            display: block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            animation: blink 1.2s infinite alternate-reverse;

            &.pause {
                background-color: rgb(209, 95, 95);
            }

            &.stream {
                background-color: rgb(35, 230, 35);
            }

            @keyframes blink {
                from {
                    width: 5px;
                    height: 5px;
                    opacity: 0%;
                }
                to {
                    width: 20px;
                    height: 20px;
                    opacity: 100%;
                }
            }
        }
    }
}
