@import "../../style/variables.scss";

.jobs {
    margin: 15px 30px;
    width: calc(100% - 2 * 30px);
}

.jobs__button-actions {
    margin-top: 30px;
    display: flex;
    gap: 15px;
}

.details__id-and-actions {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.details__id {
    background-color: $grey-light-2;
    color: $grey-normal;
    padding: 5px 15px 5px 15px;
    border-radius: 4px 4px 0 0;
}

.details__actions {
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
}

.details__code-info {
    display: flex;
    justify-content: space-between;
    border: 1px solid $grey-light-2;
    border-radius: 0 4px 4px 4px;
    margin-bottom: 30px;
}

.details__code-info__code {
    width: 100%;
    padding: 15px;
    position: relative;
}

.details__code-info__code__created {
    position: absolute;
    right: 15px;
    color: $grey-normal;
}

.details__code-info__info {
    background-color: $grey-light-2;
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 1fr;
    padding: 15px;
    min-width: 230px;

    & div:nth-of-type(odd) {
        color: $grey-normal;
    }

    & div:nth-of-type(even) {
        color: $red-primary;
        background-color: $white;
        padding: 0 5px 0 5px;
        border-radius: 2px;
    }
}
