@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<nav class="nav-main">
    <a class="nav-btn" asp-controller="Jobs" asp-action="Created">Created</a>
    <a class="nav-btn" asp-controller="Jobs" asp-action="Completed">Completed</a>
    <a class="nav-btn" asp-controller="Jobs" asp-action="Failed">Failed</a>
</nav>