.nav-item {
    padding-right: 20px;

    .item-container {
        display: flex;
        flex-direction: row;

        a {
            color: #31363f;
            text-decoration: none;
            font-weight: 500;
            font-size: 1.1rem;
        }

        .quantity {
            border-radius: 20px;
            margin-left: 5px;
            padding: 0 8px;
            border: solid 1px grey;
            background-color: transparent;
            color: #2c3038;
        }

        .quantity.selected {
            background-color: #eeeeee;
            border: solid 2px #76abae;
            color: #76abae;
        }
    }
}
