@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@200;400;500;600;700&display=swap");
@import "~bootstrap/scss/bootstrap";
@import "./variables.scss";
@import "./bootstrap.scss";

* {
    box-sizing: border-box;
}

html,
body,
#root {
    font-family: "Kanit", sans-serif;
    color: $black-100;
}

.content-container {
    margin: 20px 10vw;
}
