@import "../../style/variables.scss";

.title {
    font-weight: 300;
    text-transform: capitalize;
}

.title__line {
    width: 100%;
    background-color: $grey-light;
    height: 1px;
    margin-bottom: 30px;
}
